<!DOCTYPE html>
<html>
    <head>
        <title>Pizza Express App</title>
        <link rel="stylesheet" type="text/css" href="../css/styles.css">
    </head>
    <body>
        <h6>GREATEST PIZZA PARLOR THIS SIDE OF THE MISSISSIPPI</h6>
     
		<img src="pizza.png" height="50">
        {{{ body }}}
     	<img src="pizza.png" height="50">

        <h6>DON'T FORGET TO VISIT ALL OF OUR LOCATIONS</h6>
    </body>
</html>